.container {
  max-width: 900px;
  display: block;
  margin: 0px auto;
}

.social-icons{
  float: right;
  margin-top: 30px;
}

.header-logo {
  max-width: 380px;
  display: inline;
  margin-right: auto;
}

.section {
}

.heading {
  min-width: 380px;
}
